<header>
    <app-menu-bar></app-menu-bar>
</header>
<hr>
<div class="container-content">
    <div class="content-cover">
        <img src="../../../assets/img/angular-2.png">
    </div>
    <div class="content-title">
        <h1>Um overview sobre o framework Angular</h1>
        <hr>
    </div>
</div>
<div class="content-description">
    <p>Quando decidimos utilizar uma tecnologia em um novo projeto, é natural que uma das primeiras coisa que façamos
        seja entender o propósito que essa tecnologia tem a oferecer e como podemos ter um maior aproveitamento de suas funcionalidades e características. Para adquirir este entendimento é necessário ter uma visão geral da arquitetura dessa tecnologia. Pensando nisso, vamos demonstrar neste artigo uma visão geral da arquitetura do Angular e, assim, possibilitar aos leitores a oportunidade de entender melhor como funciona este fantástico framework.</p>
</div>